*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input, textarea{
    outline: none;
    border: solid #000 1px;
    position: absolute;
    top: 30%;
    width: 15%;
    color: black;
    padding-left: 5px;
    padding: 7px;
    font-size: 16px;
    left: 40%;
    transition: 0.5s ease;
}

input:focus{
    width: 17%;
    border-color: gold;
}

button{
    position: absolute;
    background-color: white;
    color: black;
    border: solid #000 1px;
    width: 10%;
    top: 35%;
    left: 40%;
    padding: 7px;
    font-size: 18px;
    text-align: center;
    transition: 0.5s ease;
}

button:hover{
    color: white;
    width: 12%;
    background-color: #000;
}